<div class="navbar">
  <div class="logo"><%= link_to image_tag("title2.png", class:"title-icon"), "/" %></div>
  <div class="menu" id="menu">
    <span><%= image_tag "menu2.png" %></span>
    <ul class="lists hidden" id="pull-down">
      <li class="top-list"><%= link_to "上映作品", "#" %></li>
      <%# <% if user_signed_in? %>
      <li class="second-list"><%= link_to "マイページ", "#" %></li>
      <li class="third-list"><%= link_to "ログアウト", "#", data: { turbo_method: :delete }%></li>
      <%# <% else %>
      <li class="fourth-list"><%= link_to "サインイン", "#" %></li>
      <li class="fifth-list"><%= link_to "ログイン", "#" %></li>
      <%# <% end %>
      <li class="dropdown">
        <div class="dropdown-content">
          <%= form_tag("#", method: "get", class: "search-form") do %>
            <input type="text" name="q" placeholder="Search" style="text-align: right;">
            <button type="submit">GO</button>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</div>