<div class="film">
  <div class="left-show">
    <%= link_to film_path(film), data: {turbo: false} do %>
      <%= image_tag(film.poster_image_url.present? && film.poster_image_url != "/global/images/jfdb_noimage.png" ? film.poster_image_url : asset_path('noimage.png'), class: "poster-image") %>
    <% end %>
  </div>
  <div class="right-show">
    <div class="title-show">
      <h2><%= link_to film.title, film_path(film) %></h2>
      <span class="release-date"><%= film.release_date %></span>
    </div>
    <div class="text-show">
      <p><%= film.description %></p>
    </div>
  </div>
</div>